[defaults]
roles_path = ./roles
stdout_callback = debug
stderr_callback = debug
host_key_checking = False

# Makes role variables inaccessible from other roles
private_role_vars = True

# TODO: adjust based on inventory
inventory = hosts.ini

forks = 30
#use_persistent_connections = True

force_handlers = True

[ssh_connection]
pipelining = True
scp_if_ssh = True
